{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-tailwind-styled-components"
  ],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "trailingComma": "none",
        "printWidth": 80,
        "singleQuote": false
      }
    }
  ]
}